@import '../../user-sidebar/user-sidebar'
#main-container-wrapper
  background #fff
  padding 30px 30px 50px 30px
  margin-left 150px
  margin-top 10px

#main-container-container h2
  font-size 16px

table.form
  width 100%;
  font-size 12px

table.form td
table.form th
  padding 5px 6px

.text-field
  padding 2px 7px;
  border solid 1px #ccc;
  min-width 220px;

table.form th
  text-align right;
