extends /layout
block css
    link(rel='stylesheet',href="/s/administrator/index.css")
block js
    script.
        seajs.use('s/administrator/init')
block content
    #sidebar
        include /sidebar-avatar-menu
        include /sidebar-menu
    #main-container-wrapper
        #main-container-container
            #main-container-content
                h2 发布需求
                #publish-task-list-form.J-add-multiple-task
                    br
                    | 载入中...
