extends /layout
block css
    link(rel='stylesheet',href="/s/administrator/index.css")
block js
    script.
        seajs.use('s/administrator/init')
block content
    #sidebar
        include /sidebar-avatar-menu
        ul.menu
            li
                a(href="/task/add-task") 发放需求
            li
                a(href="/task/own-task-list") 我添加的需求
            li
                a(href="search-task") 搜索需求
    #main-container-wrapper
        #main-container-container
            #main-container-content
                h2 发布需求
                #publish-task-list-form.J-add-multiple-task
                    br
                    | 载入中...
