extends /layout
block css
    link(rel='stylesheet',href="/s/task/own-task-list.css")
block js
    script.
        seajs.use('s/task/own-task-list')
block content
    #sidebar
        include /sidebar-avatar-menu
        ul.menu
            li
                a(href="/task/add-task") 发放需求
            li
                a(href="/task/own-task-list") 我添加的需求
    #main-container-wrapper
        #main-container-container
            #main-container-content
                h2 欢迎
