ul.menu
    -if(req.session.group.indexOf('添加计件需求')>-1)
        li
            a(href="/task/add-task") 添加新需求
    li
        a(href="/task/own-task-list") 我相关的需求
    li
        a(href="/user/setting") 个人设置