@import "./variable"
.btn
  display inline-block
  border none
  padding 7px 29px
  font-family "Microsoft Yahei", sans-serif
  font-size 12px
  border-radius 2px
  background transparent
  margin-left 12px
  margin-right 12px

.btn.confirm
  background btn-color
  color #fff
