@import variable

html
  background #bebfb3

body
  font-family "Microsoft Yahei", sans-serif
  color #333

.clearfix:after
  content: "."
  display: block
  height: 0
  clear: both
  visibility: hidden

.clearfix
  zoom: 1

.btn
  display inline-block
  border none
  padding 7px 29px
  font-family "Microsoft Yahei", sans-serif
  font-size 12px
  border-radius 2px
  background #999
  color #fff

.btn.btn-confirm
  background btn-color
  color #fff

table.task-list
  width 100%
  font-size 12px
  margin 23px auto 0 auto

table.task-list th
  background #ededed
  border-top solid 1px #b2b2b2
  border-bottom solid 1px #b2b2b2
  padding 3px 0

table.task-list .wrapper
  padding 0 3px

table.task-list tr:nth-child(2n-1)
  background #ededed

table.task-list td
  padding 4px 0
  text-align left

table.task-list td.tl
  text-align left

table.task-list td.tc
  text-align right

table.task-list td.tr
  text-align right

table.task-list tr:hover
  background #ddd

.table-list-more
  height 17px
  background #d5d5d5
  border-bottom solid 1px #b2b2b2
  text-align center
  line-height 6px
  font-size 20px
  overflow hidden
  cursor pointer

a
  color #333
  text-decoration none

a:hover
  color link-hover-color

