#sidebar
  float left
  width 150px
  font-size 14px
  margin-top 23px

#sidebar .avatar
  text-align center
  font-size 12px

#sidebar .avatar img
  display block
  width 80px
  height 80px
  margin 0 auto .5em auto

#sidebar ul.menu
  line-height 35px
  margin-left 38px
  margin-top 23px

#sidebar ul.menu a.current
  font-weight bold
  color #ff3504
