#fill-excel-data #excel-data
  width 100%
  margin 18px auto 0 auto
  min-width 100%
  max-width 100%

#fill-excel-data #excel-data
  min-height 400px
  border-radius 3px
  border solid 1px #aaa
  font-size 12px
  margin 12px auto
  padding 5px 0 12px 5px

#fill-excel-data .control
  text-align right