@import "./../../variable"
#fill-excel-data #excel-data
  width 100%
  margin 18px auto 0 auto
  min-width 100%
  max-width 100%

#fill-excel-data #excel-data
  min-height 400px
  border-radius 3px
  border solid 1px #aaa
  font-size 12px
  margin 12px auto
  padding 5px 0 12px 5px

#fill-excel-data .control
  text-align right

.J-fields .wrapper
  position relative

.J-fields .wrapper .menu
  position absolute
  margin-left - 50px
  filter quote("progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#CCFFFFFF', endColorstr='#CCFFFFFF')")
  background rgba(255, 255, 255, 0.8)
  padding 12px
  font-size 14px
  line-height 230%
  box-shadow 0 0 5px rgba(0, 0, 0, .5)
  white-space nowrap
  width 100px
  cursor default
  left 50%
  top 20px
  border-radius 2px

#publish-task-list-form .content
  margin-bottom 12px

table.task-list tr td
  background url(/s/administrator/publish-task-list/solid-bg.png) right center repeat-y;

table.task-list td div.wrapper
  padding 0 6px

.J-fields .wrapper div.cancel
  background link-hover-color
  color #fff
  border-radius 3px

.select-field tr th.J-fields
  padding 10px 0
  font-size 14px
  font-weight bold
  text-align left

.select-field tr th.J-fields div.fields-name
  padding 0 6px
