extends /layout

block css
    link(rel='stylesheet',href="/s/administrator/index.css")
block js
    script.
        seajs.use('s/administrator/init')
block content
    #sidebar
        include /sidebar-avatar-menu
        ul.menu
            li
                a(href="/publish-task-list") 发放需求
            li
                a(href="/task-list-history") 以往需求列表
            li
                a(href="search-task") 搜索需求
    #main-container-wrapper
        #main-container-container
            #main-container-content
                h2 本周需求列表
                .table-wrapper
                    .table-content
                        table.task-list.task-list-normal
                            tr
                                th 设计师
                                th 需求名称
                                th 需求方
                                th 需求工时
                                th 需求类型
                                th 接口人
                            tr
                                td 短发
                                td 如何在首页找到我们(实际需求人羽真)
                                td 木景
                                td 5
                                td 按件计酬
                                td 佛手
                            tr
                                td 短发
                                td 如何在首页找到我们(实际需求人羽真)
                                td 木景
                                td 5
                                td 按件计酬
                                td 佛手
                            tr
                                td 短发
                                td 如何在首页找到我们(实际需求人羽真)
                                td 木景
                                td 5
                                td 按件计酬
                                td 佛手
                            tr
                                td 短发
                                td 如何在首页找到我们(实际需求人羽真)
                                td 木景
                                td 5
                                td 按件计酬
                                td 佛手
                            tr
                                td 短发
                                td 如何在首页找到我们(实际需求人羽真)
                                td 木景
                                td 5
                                td 按件计酬
                                td 佛手
                            tr
                                td 短发
                                td 如何在首页找到我们(实际需求人羽真)
                                td 木景
                                td 5
                                td 按件计酬
                                td 佛手
                    .table-list-more ......
                .table-wrapper
                    .table-content
                        table.task-list
                            tr
                                th 设计师
                                th 需求名称
                                th 需求方
                                th 需求工时
                                th 需求类型
                                th 接口人
                            tr
                                td 短发
                                td 如何在首页找到我们(实际需求人羽真)
                                td 木景
                                td 5
                                td 按件计酬
                                td 佛手
                            tr
                                td 短发
                                td 如何在首页找到我们(实际需求人羽真)
                                td 木景
                                td 5
                                td 按件计酬
                                td 佛手
                            tr
                                td 短发
                                td 如何在首页找到我们(实际需求人羽真)
                                td 木景
                                td 5
                                td 按件计酬
                                td 佛手
                            tr
                                td 短发
                                td 如何在首页找到我们(实际需求人羽真)
                                td 木景
                                td 5
                                td 按件计酬
                                td 佛手
                            tr
                                td 短发
                                td 如何在首页找到我们(实际需求人羽真)
                                td 木景
                                td 5
                                td 按件计酬
                                td 佛手
                            tr
                                td 短发
                                td 如何在首页找到我们(实际需求人羽真)
                                td 木景
                                td 5
                                td 按件计酬
                                td 佛手
                    .table-list-more ......

                .table-wrapper
                    .table-content
                        table.task-list
                            tr
                                th 设计师
                                th 需求名称
                                th 需求方
                                th 需求工时
                                th 需求类型
                                th 接口人
                            tr
                                td 短发
                                td 如何在首页找到我们(实际需求人羽真)
                                td 木景
                                td 5
                                td 按件计酬
                                td 佛手
                            tr
                                td 短发
                                td 如何在首页找到我们(实际需求人羽真)
                                td 木景
                                td 5
                                td 按件计酬
                                td 佛手
                            tr
                                td 短发
                                td 如何在首页找到我们(实际需求人羽真)
                                td 木景
                                td 5
                                td 按件计酬
                                td 佛手
                            tr
                                td 短发
                                td 如何在首页找到我们(实际需求人羽真)
                                td 木景
                                td 5
                                td 按件计酬
                                td 佛手
                            tr
                                td 短发
                                td 如何在首页找到我们(实际需求人羽真)
                                td 木景
                                td 5
                                td 按件计酬
                                td 佛手
                            tr
                                td 短发
                                td 如何在首页找到我们(实际需求人羽真)
                                td 木景
                                td 5
                                td 按件计酬
                                td 佛手
                    .table-list-more ......
