@import '../user-sidebar/user-sidebar'
#main-container-wrapper
  background #fff
  padding 30px 30px 50px 30px
  margin-left 150px
  margin-top 10px

#main-container-wrapper h2
  font-size 20px

ul.task-info
  margin 23px 0
  padding 0
  list-style none
  font-size 12px
  line-height 180%

.task-record-wrapper
  background #ededed
  padding 18px
  border solid 1px #b2b2b2

.time-part-content
  position relative
  height 85px
  margin 20px 0

.time-part-content h3
  font-size 30px
  width 2em
  position absolute
  top 0
  left 0

.time-part-content .time-part
  position absolute
  left 85px
  top 32px
  right 0

.time-part .design
  border solid 5px #db7798
  border-top none
  border-bottom-width 10px
  border-left-width 5px
  border-right 0
  background #fff
  height 9px
  position absolute
  left 0
  top 0
  width 100%
  z-index 3

.time-part .front
  border solid 5px #43b0e8
  border-top none
  border-bottom-width 10px
  border-right-width 5px
  border-left none
  background #fff
  height 9px
  position absolute
  left 0
  top 0
  width 100%

.time-part-wrapper h2
  position absolute
  left 0
  top 0

ul.record
  font-size 12px
  margin 8px 0

.push
  margin 23px 0

.push .btn
  font-size 18px

.push .btn.checked
  border solid 1px red
  color red
  background pink

.push .btn-area
  margin 12px 0

.push .btn-area .btn
  margin 5px 5px 5px 0
